# Node modules
node_modules/

# Allure results and reports
allure-results/
allure-report/

# Logs
*.log
logs/

# Environment files
.env
.env.local

# IDE config
.vscode/
.idea/

# Output directory
dist/
build/
tmp/
temp/

# Mac system files
.DS_Store

debug.js
debug.yml